@import url('https://fonts.googleapis.com/css?family=Geo|Mouse+Memoirs&display=swap');

h1 h2 h3 h4{
    font-family: 'Geo', sans-serif;
    background-color: orange;
    font-size: 2em ;
}
p{
    font-family: 'Mouse Memoirs', sans-serif;
    background-color: palegreen;
    font-size: 1.5em;
}